*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1a1919
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(https://wallpapercave.com/wp/wp12492736.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 90%;
    height: 66px;
    margin: auto;
}

.logo{
    width: 15%;
    float: left;
    height: 66px;
}

.logo h2{
    color: #fff;
    font-size:270%;
    font-family: Arial;
    float: left;
    padding-top: 10px;
}

.logo h2 span{
    color: #ff7200;
}

.menu{
    width: 60%;
    float: left;
    height: 66px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 5rem;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 20%;
    height: 66px;
    position: absolute;
    right: 5%;
}

.srch{
    font-family: 'Times New Roman';
    width: 70%;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    color: #fff;
    border-right: none;
    font-size: 15px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 13px;
    float: left;
}

.btn{
    width: 30%;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #000;
    font-size: 18px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.btn:active{
    width: 96px;
}

.srch:focus{
    outline: none;
}

.content{
    width: 90%;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-top: 10%;
    letter-spacing: 2px;
}

.content p{
    margin-top: 30px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}


.join{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 9px;
    cursor: pointer;
}

.join a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: .3s ease;
}

.join:hover{
    background: #fff;
}

.join:active{
    width: 156px;
}

.content span{
    color: #ff7200;
    font-size: 60px;
}

.form{
    width: 300px;
    height: 450px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)1%, rgba(0, 0, 0, 0.5)1%);
    position: absolute;
    top: -30px;
    right: 0;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    font-size: 22px;
    border-radius: 10px;
    border-bottom: 1px solid #ff7200;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.form input{
    width: 100%;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    font-family: Arial;
}

.login{
    width: 100%;
    height: 40px;
    background-color: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

.login:hover{
    background-color: #fff;
}

.login a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.login:active{
    width: 99%;
}

.link{
    font-family: Arial;
    font-size: 15px;
}

.link a{
    text-decoration: none;
    font-weight: bold;
    color: #ff7200;
}

.or{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.line{
    background-color: #ff730086;
    width: 50%;
    height: 1px;
    margin-top: 15px;
}

.or p{
    font-family: Arial;
    margin: 0 10px;
}

.liw{
    text-align: center;
    font-family: Arial;

}

.icon{
    width: 100%;
}

.icon a{
    text-decoration: none;
    color: #fff;
}

.icon ion-icon{
    font-size: 30px;
    padding-left: 21px;
    padding-top: 10px;
    transition: .3s ease;
}

.icon ion-icon:hover{
    color: #ff7200;
}

footer{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.233)1%, rgba(0, 0, 0, 0.253)1%);
}

footer p{
    font-weight: normal;
    font-family:Arial, sans-serif;
    color: #ffffffc0;
    font-size: 14px;
}

footer p span{
    color: #ff7300b7;
}


@media only screen and (max-width: 1190px) {

    .menu ul li{
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 1060px) {

    .menu ul li{
        margin-left: 3rem;
    }
    
}

@media only screen and (max-width: 980px) {

    .navbar{
        height: 54px;
    }

    .logo{
        height: 54px;
    }

    .logo h2{
        font-size: 180%;
    }
    
    .menu{
       height: 54px;
    }

    .menu ul li{
        font-size: 12px;
        margin-top: 20px;
        margin-left: 2rem;
    }
    .search{
        width: 25%;
        height: 54px;
    }

    .srch{
        height: 27px;
    }

    .btn{
        height: 27px;
    }

    .content{
        width: 90%;
    }

    .form{
        position: relative;
        margin: 120px auto;
        margin-bottom: 20px;
    }

    footer{
        position: relative;
    }

}

@media only screen and (max-width: 790px) {

    .menu ul li{
        font-size: 12px;
        margin-left: 1rem;
    }

    .srch{
        font-size: 12px;
    }

    .btn{
        font-size: 12px;
    }
}
